@import "../../scss/constants.scss";

.pagination {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pagination__item {
  display: block;
  width: 185px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  list-style-type: none;
  background-color: $primary-color;

  &_active {
    background-color: $primary-color-light;
  }

  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}