@import "../../scss/constants.scss";

.result {
  width: 100%;
  background-color: $app-bg-color-light;
  padding: 80px 30px;
  border-radius: $border-radius-block;  
  text-align: center;
  font-weight: 300;
}

.result__title {
  font-size: 72px;
  margin-bottom: 20px;
}

.result__text {
  font-size: 19px;
}

.result__line {
  margin-top: 25px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1.5px solid #2b2b2b;
}