@import "../../scss/constants.scss";

.logo {
  font-family: 'Lobster', cursive;
  font-size: 36px;
  font-weight: 300;
}

.logo__part1 {
  color: $font-color;
}

.logo__part2 {
  color: $primary-color;
}
