@import "../../scss/mixins.scss";

.birds-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 0px;

  @include media-mobile {
    flex-direction: column;
  }
}