@import "../../scss/constants.scss";
@import "../../scss/mixins.scss";

.random-bird {
  display: flex;
  align-items: center;
  background-color: $app-bg-color-light;
  padding: 15px;
  border-radius: $border-radius-block;

  @include media-mobile-small {
    flex-direction: column;
  }
}

.random-bird__details-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 40px;
  height: 155px;

  @include media-mobile-small {
    width: 100%;
    margin-left: 0px;
  }
}