$app-bg-color: #222;
$app-bg-color-light: #303030;
$primary-color: #008966;
$primary-color-light: #00bc8c;
$font-color: #f7f4f4;
$border: 1px solid #555;
$border-radius: 4px;
$border-radius-block: 3px;
$img-border-radius: 10px;
