$app-bg-color: #222;
$app-bg-color-light: #303030;
$primary-color: #008966;
$primary-color-light: #00bc8c;
$error-color: #d62c1a;
$details-color-dark:#555;
$details-color-light:rgba(85, 85, 85, 0.582);
$font-color: #f7f4f4;
$border: 1px solid #555;
$border-radius: 4px;  
$border-radius-block: 4px;
$img-border-radius: 10px;

$laptop-width: 1199px;
$laptop-small-width: 991px;
$mobile-width: 767px;
$mobile-small-width: 570px;